:root {
  --bg: hsl(210, 50%, 98%);

  --primary-text: hsl(222, 47%, 11%);
  --sub-text: hsl(215, 20%, 50%);
}

[data-theme='dark'] {
  --bg: rgb(3, 7, 18);

  --primary-text: hsl(0, 0%, 100%);
  --sub-text: hsl(217.9 12% 64%);
}
